@import "../../App.scss";

/* Main Title Section */
.main-title {
    font-family: 'PixelFont', 'Courier New', monospace;
    font-size: 48px;
    text-align: center;
    margin-bottom: 5px;
    color: #000;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.loading-bar {
    height: 20px;
    background-color: #ECE9D8;
    border: 1px solid #888;
    border-radius: 2px;
    margin: 10px auto;
    width: 80%;
    overflow: hidden;
    position: relative;
}

.loading-progress {
    height: 100%;
    background-color: #0A246A;
    width: 0%;
    animation: loading 6s forwards;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    25%{
        width: 20%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}

/* Animation for windows appearing */
@keyframes windowAppear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.blinking-cursor {
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: #000;
    margin-left: 5px;
    animation: blink 1s step-end infinite;
}

.loading-message {
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}