@import "../../App.scss";

.explorer-header {
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #999;
}

.file-explorer {    
    border: 1px solid #999;
    background-color: white;
    margin: 15px 0;
}

.program-container {
    margin: 20px auto 10px;
}